body {
    padding: 0;
    margin: 0;
    background-color: #14223D;
    color: white;
}
.vsc, .extensions {
    color: #56ACE6;
    text-decoration: underline;
}
.lang{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ionicon {
    color: white;
}
